body{
    background: black
}
header{
font: normal 15pt arial;
    color:white;
     text-align: center;
}
div{
    text-align: center;
}
footer{
    color: white;
    text-align: center;
}
h3{
    font: normal 20pt;
    color: white;
    text-align: center;
}
